/* @import url("barchart.css") */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
  min-width: 350px;
}

strong {
  font-weight: bold;
}

button {
  padding: 10px 15px;
  border-radius: 30px;
}

button:hover {
  cursor: pointer;
}

/* || Top Level Section Styes */
nav {
  padding: 20px 40px;
  background-color: #333333;
  color: white;
  font-weight: 600;
  font-size: 1.7rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1220px;
  margin: auto;
  padding: 0px 40px;
}

main {
  margin: auto;
  padding: 40px;
  max-width: 1220px;
}

footer {
  min-height: 100px;
}

/* || Header Section Styles */
#welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-height: 300px;
  padding-top: 50px;
}

header h1 {
  font-size: 2.8rem;
  font-weight: bolder;
}

.subtitle {
  font-size: 1.2rem;
}

#workoutImage {
  max-width: 70%;
  align-self: flex-end;
}

/* || Container Styling */
.main-container + .main-container {
  padding-top: 40px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  min-height: 180px;
  border-radius: 40px;
}

#past-activity .content-container {
  background-color: #53e0cd;
}

#future-activity .content-container {
  background-color: #b1bab9;
}

.container-title {
  font-size: 1.3rem;
  font-weight: bolder;
  margin-bottom: 0.6rem;
  padding-top: 1em;
}

/* || Start Form Styles */
#pAct-Add p,
#fAct-Add p {
  margin-bottom: 0.5rem;
  text-align: center;
}

.addBtn {
  color: black;
  background-color: #fff;
  font-weight: bold;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/* || Form Styles */
.form-label {
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.hide {
  display: none;
}

.pseudoform {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

label,
.form-label,
.form-button {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

label {
  font-weight: bold;
}

input {
  height: 20px;
  padding: 10px;
  font-weight: normal;
}

select {
  height: 40px;
  font-weight: normal;
  padding: 0 10px;
}

#activity-for-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#activity-for-wrapper > .form-label {
  padding-bottom: 10px;
}

#scalar-unit-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 300px;
}

#label-scalar,
#label-units {
  flex: 1;
}

#label-scalar > input,
#label-units > input {
  width: 80%;
}

/* || Remove Calendar logo */
/* input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
} */

.form-button {
  align-self: center;
  color: white;
  background-color: #333333;
  padding-left: 45px;
  padding-right: 45px;
}

.col-grid{
  display: flex;
  flex-direction: column;
}

.bar-grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bar-shadow{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/* ////////////////////////////////////// ZIBO START///////////////// */
.go{
  background-color: #333333;
  color: white;
  margin: 10px 30px;
  padding-left: 25px;
  padding-right: 25px;
  
  align-self: center;
  /* width: 120px;
  height: 40px; */
}

.bar-padding{
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.view-progress{
  background-color: #333333;
  color: white;
  font-size: 0.8rem;
  flex: 1;
  margin-left: 3%;
  /* float: right; */
}
.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  visibility: hidden;
}
.modal-content{
  position: relative;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  /* display: flex;
  flex-direction: column; */

}
.bar-graph-style{
  /* height:250px; */
  /* max-width: 100px; */
  width: 100%;
  display: flex;
  flex: 1;
  padding-top: 3em;
}
.close-button{
  float: right;
  text-align: center;
  position: absolute;
  top: 0;
  right:0;
  cursor: pointer;
  /* border-radius: 0.5rem;  */
    /* width: 4rem; */
  /* line-height: 1.5rem;  */
  /* height: 5rem; */
  /* width: 5rem;  */
  font-size: 80px;
}

.show-modal{
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

view-activity{
  font-size: 0.5em;
  width: 100%;
  box-sizing: border-box;
  display: table-row;
  margin: 10px 20px;
}
/* ////////////////////////////////////////////////////////////MINE END////////////////////////////////// */
/* Start of the Banner */
/* ReminderDiv Styling OBAID */
/* Start of the Banner */
/* ReminderDiv Styling */
.ReminderDivOuter {
  background-color: #4e62db;
  display: flex;
  width: 100%;
  height: 2.7em; 
}

.ReminderDivOuterOuter{
  background-color: #4e62db;
  display: inline;


}


.ReminderTag {

padding-top: 2px;
padding-left: 10px;
  font-weight: bolder;
  font-style: italic;
  font-size: .8em;
}

.PastActivityQuestion {
  color: white;
  font-size: .8em;
  font-weight: bolder;
  padding-left:  10px;
}


#YesNoDiv {
  display: flex;
  justify-content: space-evenly;
  height: 1em;
}

.ButtonClass {
  color: white;
  text-decoration: underline;
  font-size: .8em;
  margin-top: -10px;
  border: none;
  background: none;
  cursor: pointer;
}

input.ButtonClass {
  height: unset;
}

/* End Banner CSS */


.min-width{
  width: 120px;
}

/* End Banner CSS */
@media only screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  label,
  .form-label,
  .form-button {
    margin: 10px 15px;
  }
  .form-button {
    align-self: flex-end;
    margin: 10px 30px;
  }
  .bar-graph-style{
    /* height:250px; */
    max-width: 100%;
    display: flex;
    flex: 1;
    padding-top: 3em;
  }
  .col-grid{
    display: flex;
    flex-direction: row;
  }

  .bar-grid{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
  }
/* 
    .go{
    background-color: #333333;
    color: white;
    margin:0; 
    align-self: center;
    
  } */
  view-activity{
    font-size: 2px;
    width:100%;
    box-sizing: border-box;
    display: table-row;
    margin: 10px 20px;
  }
  .text-display{
    display: inline;
  }
  .close-button{
    float: right;
    /* text-align: center; */
    cursor: pointer;
    border-radius: 0.5rem; 
    font-size: 50px;
  }
  .bar-padding{
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .modal-content{
    position: relative;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

  .flex-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  /* obaid reminder tag start */
  .ReminderDivOuterOuter{
      display:flex;
      align-items: center;
  }
/* obaid reminder tag end */
}

@media only screen and (min-width: 960px) {
  #workoutImage {
    position: absolute;
    right: 0;
    max-height: 350px;
  }

  label,
  .form-label {
    margin: 10px 20px;
  }
  .form-button {
    margin: 10px 30px;
  }
  .bar-graph-style{
    /* height:250px; */
    max-width: 100%;
    display: flex;
    flex: 1;
    padding-top: 3em;
}
  .col-grid{
    display: flex;
    flex-direction: row;
}

  .bar-grid{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}
  
  /* .go{
    background-color: #333333;
    color: white;
    margin:0; 
    align-self: flex-end;
  } */
  .close-button{
    float: right;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem; 
    font-size: 50px;
}
  .modal-content{
    position: relative;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}
}
